@model HypeTracker.Models.HomeModel

@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid topRow">

<div class="row">
    <div class="col-md-4 topMedia leftMedia">
        @if (Model.topMovie == null)
        {
            <h3>There are no movies added</h3>
        }
        else
        {
            <h3>Most Hyped Movie</h3>
            <p>@Html.ActionLink($"{Model.topMovie.Title} details", "Details", "Movie", new { id = Model.topMovie.Id }, new { id = Model.topMovie.Id })</p>
        }
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 topMedia centerMedia">
        @if (Model.topGame == null)
        {
            <h3>There are no games added</h3>
        }
        else
        {
            <h3>Most Hyped Game</h3>
            <p>@Html.ActionLink($"{Model.topGame.Title} details", "Details", "Game", new { id = Model.topGame.Id }, new { id = Model.topGame.Id })</p>
        }
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 topMedia rightMedia">
        @if (Model.topShow == null)
        {
            <h3>There are no shows added</h3>
        }
        else
        {
            <h3>Most Hyped Show</h3>
            <p>@Html.ActionLink($"{Model.topShow.Title} details", "Details", "Show", new { id = Model.topShow.Id }, new { id = Model.topShow.Id })</p>
        }
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
</div>